@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet');

body {
    font-family: 'Roboto Slab', serif;
}

.main-div {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background-color: #F1F2D0;
    background-image: url("../images/mainBackground.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: scroll;
    color: #618685;
}

.main-div2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background-color: #FFFFFF;
    /* background-image: url("../images/mainBackground.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: scroll;
    color: black;
}

.main-container {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    margin-top: 10px;
}

.country-select {
    width: 60%;
    margin-top: 6%;
}

.form-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.margin-top{
    margin-top: 120px;
}

.form-fields {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.large-div {
    width: 100%;
    text-align: left;
}

.formField-input {
    width: 100%;
    margin: 20px;
    background-color: #FFFFFF;
    opacity: 0.5;
    border: none;
    padding: 10px;
    border-bottom: 1px solid black;
}

.pretty-btn {
    width: 40%;
    margin: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFAF87;
    color: white;
    cursor: pointer;
}

.form-fields > input[type="file"] {
    display: none;
}

.imgWrap {
    background-image: linear-gradient(to right, #FFAF87,#F2F3AE);
    padding: 7px;
    margin-bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.whiteWrap {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50%;
}

#selectImg {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-color: #ffffff;
    background-image: url('../images/camera.png');
    margin: 10px;
}

@media screen and (max-width: 650px) {
    .form-fields {
        width: 100%;
    }

    .pretty-btn {
        width: 100%;
    }
  }

.planes {
    background-image: url("../images/planes.png");
    width: 50px;
    height: 50px;
    background-size: contain;
}

.homeText {
    display: flex;
    align-items: center;
}

.paddinged {
    padding: 20px;
}

.goBtn { 
    height: 100%;
    padding: 6px;
    margin-left: 95%;
    font-size: 30px;
    color: #618685 !important;
}

.goBtn:hover { 
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.listDestinations {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.destination {
    padding: 20px;
    margin: 20px;
    background-color: #FFFFFF;
    min-width: 300px;
    max-width: 420px;
    height: 100px;
    cursor: pointer;
    /* box-shadow: 5px 10px 20px #888888; */
}

@media screen and (max-width: 400px) {
    .destination {
        min-width: 200px;
        height: 150px;
    }
}

.destination:hover {
    box-shadow: 3px 7px 30px #888888;
    transform: translate(2px, 3px)
}

.destinationDetails {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header {
    position: fixed !important;
}

.filters {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

.MuiInput-root {
    width: 200px;
    margin: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    padding: 20px;
}

.comments-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    width: 90%;
    background: rgba(241, 242, 208, 0.9);
}

.comment-container:not(:last-child) {
    border-bottom: 1px dashed #BCD0C7;
}

.comment-half:first-child {
    border-right: 1px solid #BCD0C7;
}

.comment-half {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.review-input {
    display: flex;
    align-items: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.with-help-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.with-help-text button {
    font-size: 1rem;
}

.errors {
    color: red;
}