.grow {
    flex-grow: 1;
}

.menuButton {
    margin-right: theme-spacing(2);
}
  
.title {
    display: none;
}

.inputInput {
    padding: theme-spacing(1, 1, 1, 7);
    transition: theme-transitions-create('width');
    width: 100%;
}

.sectionDesktop {
    display: none;
}

.sectionMobile {
    display: flex,
}

.homeText {
    color: white;
}
