element {
  --main-bg-color: #F2F3AE;
  --header-color: #FFAF87;
  --main: #DEF2C8;
  --secondary: #C5DAC1;
  --other: #BCD0C7;
}

.App-link {
  color: #BA5D2E;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

a {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet');

body {
    font-family: 'Roboto Slab', serif;
}